.SlideUp{
    animation: slide-up-fade-in ease 0.5s; -webkit-animation: slide-up-fade-in ease 0.5s; -moz-animation: slide-up-fade-in ease 0.5s; -o-animation: slide-up-fade-in ease 0.5s; -ms-animation: slide-up-fade-in ease 0.5s;
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; -moz-animation-iteration-count: 1; -o-animation-iteration-count: 1; -ms-animation-iteration-count: 1;
    animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; -o-animation-fill-mode:forwards; -ms-animation-fill-mode:forwards;
    opacity: 0;
    animation-delay: 0.5s;
}

.SlideDown{
    animation: slide-down-fade-out ease 0.5s; -webkit-animation: slide-down-fade-out ease 0.5s;  -moz-animation: slide-down-fade-out ease 0.5s; -o-animation: slide-down-fade-out ease 0.5s; -ms-animation: slide-down-fade-out ease 0.5s;
    animation-iteration-count: 1; -webkit-animation-iteration-count: 1; -moz-animation-iteration-count: 1; -o-animation-iteration-count: 1; -ms-animation-iteration-count: 1;
    animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; -o-animation-fill-mode:forwards; -ms-animation-fill-mode:forwards;   
    opacity: 1;
}

/* SLIDE UP */
@keyframes slide-up-fade-in{ 0% { opacity:0; transform: translate(0,40px); } 100% { opacity:1; transform: translate(0,0); } }
@-moz-keyframes slide-up-fade-in{ 0% { opacity:0; -moz-transform: translate(0,40px); } 100% { opacity:1; -moz-transform: translate(0,0px); } }
@-webkit-keyframes slide-up-fade-in { 0% { opacity:0; -webkit-transform:  translate(0,40px); } 100% { opacity:1; -webkit-transform:  translate(0,0px); } }
@-o-keyframes slide-up-fade-in { 0% { opacity:0; -o-transform:  translate(0,40px); } 100% { opacity:1; -o-transform: translate(0,0px); } }
@-ms-keyframes slide-up-fade-in { 0% { opacity:0; -ms-transform: translate(0,40px); } 100% { opacity:1; -ms-transform: translate(0,0px); } }

/* SLIDE DOWN */
@keyframes slide-down-fade-out{ 0% { opacity:1; transform: translate(0,0px); } 100% { opacity:0; transform: translate(0,40px); } }
@-moz-keyframes slide-down-fade-out{ 0% { opacity:1; -moz-transform: translate(0,0px); } 100% { opacity:0; -moz-transform: translate(0,40px); } }
@-webkit-keyframes slide-down-fade-out { 0% { opacity:1; -webkit-transform:  translate(0,0px); } 100% { opacity:0; -webkit-transform:  translate(0,40px); } }
@-o-keyframes slide-down-fade-out { 0% { opacity:1; -o-transform:  translate(0,0px); } 100% { opacity:0; -o-transform: translate(0,40px); } }
@-ms-keyframes slide-down-fade-out { 0% { opacity:1; -ms-transform: translate(0,0px); } 100% { opacity:0; -ms-transform: translate(0,40px); } }

/* BLINK */
@keyframes Blink { 0%, 50%, 100% { opacity: 1; } 25%, 75% { opacity: 0; } }

/* SPIN */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* FLOATING */
@keyframes float { 0% { transform: translatey(0px); } 50% { transform: translatey(-20px); } 100% { transform: translatey(0px); } }